Objects/Latest/BC18-DC7.00.00-App/.alpackages/
Objects/Latest/BC18-DC7.00.00-App/.vscode/settings.json
Objects/Latest/BC18-DC7.00.00-App/.vscode/rad.json
Objects/Latest/BC18-DC7.00.00-App/.vscode/launch.json
